@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  box-sizing: border-box;
}

/* hides input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.app {
  position: relative;
  font-family: 'Nerko One', cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  //background-color: #c4f2ff;
  //background: -webkit-canvas(particles) no-repeat 50% 50%;

  color: #3982c1;

  .main-title {
    font-size: 2rem;
    font-weight: 400;
    margin: 1.5rem 0;
    font-size: 3rem;
    opacity: 0.9;
  }

  .score-unit {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    opacity: 0.8;
    color: hotpink;
    text-align: center;
  }

  .button-restart,
  .button-start {
    margin-bottom: 4rem;
  }

  .button-start {
    //animation: fade-in 1.5s ease-out backwards 1.5s;
  }

  &.intro {
    justify-content: center;

    .main-title {
      //animation: enter-top 1.5s ease-out both;
      margin-top: 0;
    }
  }

  &.over {
    .score-container {
      margin-bottom: 2rem;
    }
  }

  &.game,
  &.over {
    justify-content: center;
  }

  &.game {
    background-color: #c4f2ff;
  }
}

@keyframes enter-top {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(-0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
