.custom-button {
  font: inherit;
  font-size: 1.7rem;
  padding: 1.2rem 1.8rem;
  border: 0;
  background-color: hotpink;
  color: white;
  outline: 0;
  border-radius: 0.5rem;
  text-align: center;
  user-select: none;

  &:hover:not([disabled]) {
    background-color: darken(hotpink, 5%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 0.2rem white;
  }
}
